body {
    background-color: #0f132e;
    color: #fffbff;
    font-family: Tahoma,sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 205%;
    line-height: 25px;
    text-align: center;
}

h1 {
    font-family: Tahoma, sans-serif;
}

form {
    color: #19274e;
    background-color: #fffbff;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    margin-right: 90%;
    height: 300px;
    width: 250px;
}

button {
    background-color: #536d88;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #536d88;
}

.container div {
    border: 2px solid;
    padding: 15px;
}


.caixa-1 {
    flex: 1; 
    order: 1;
    background-color: #536d88;
    text-align:justify;
}
